@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary-color : #1A120B;
  --secondary-color: #3C2A21;
  --third-color: #D5CEA3;
  --fourth-color: #E5E5CB;
  --tiny-border-color: #696868;
  --hover-color: #453426;
  
  --biggest-font: 1.8rem;
  --big-font: 1.5rem;
  --medium-font: 1.2rem;
  --small-font: 1rem;
  --smaller-font: 0.8rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

body {
  background-color: var(--primary-color);
}

.container {
  display: flex;
}

.main-content {
  flex: 1;
  margin-top: 58px;
  display: flex;
}