.home-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.post {
  background-color: transparent;
  border: 1px solid var(--tiny-border-color);
  color: var(--third-color);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  min-width: 500px;
  width: 700px;
  height: fit-content;
}


.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  }
  
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  color: var(--third-color);
}

.date {
  color: var(--third-color);
  opacity: .7;
  font-size: 0.9em;
}

.post-content {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}
  
.post-footer {
  border-top: 1px solid #e1e8ed;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.reactions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.reactions > span {
  display: flex;
  align-items: center;
  column-gap: 4px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  transform: .2s;
  text-overflow: unset;
}

.reactions > span:hover{
  background-color: var(--hover-color);
}

.comments {
  border-top: 1px solid #e1e8ed;
  padding-top: 10px;
}

.comment {
  margin-bottom: 10px;
}

.post-img {
  display: grid;
  row-gap: 10px; 
}

.comment-user {
  font-weight: bold;
}

.comment-text {
  margin-left: 20px;  
}

.book-description {
  display: flex;
}

.book-info {
  display: flex;
  justify-content: space-between;
}

.book-rating >span {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.post-text-section {
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.post-text-section > span {
  font-size: var(--medium-font);
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.post-text-section > p {
  opacity: .9;
}

.book-author {
  font-size: var(--small-font);
  opacity: .8;
}

.book-year {
  font-size: var(--smaller-font);
  opacity: .8;
}

.new-comment-input {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  position: relative;
  transition: .2s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.2);
  animation-duration: 0.3s;
}

.comment-input {
  resize: none;
  width: 100%;
  height: fit-content;
  border: none;
  outline: none;
  background-color: var(--hover-color);
  padding: 10px 20px 10px 12px;
  color: var(--third-color);
  font-size: var(--medium-font);
  border-radius: 8px;
}

.submit-comment {
  font-size: var(--small-font);
  padding: 10px;
  background-color: transparent;
  color: var(--third-color);
  border: none;
  right: 12px;
  bottom: 12px;
  transition: .2s;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}