aside {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: calc(100vh - 58px);
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border-right: solid 1px var(--tiny-border-color);
  padding: 10px 0;
  position: fixed;
}

.sidebar-components {
  color: var(--third-color);
}

.sidebar-components > .active {
  background-color: var(--hover-color);
  border: none;
}

.sidebar-component {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: var(--big-font);
  cursor: pointer;
  list-style: none;
  margin-bottom: 4px;
  width: fit-content;
  animation: slide-in .5s ease-in-out;
}

.sidebar-component > a {
  text-decoration: none;
  color: var(--third-color);
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.sidebar-component:hover {
  background-color: var(--hover-color);
}

.user-section {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 90%;
  background-color: transparent;
}

.profile-popup-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 0px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 0px 0px 16px 16px;
  color: var(--third-color);
  animation: slide-up .5s ease forwards;
}

.profile-popup-window > div { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}


.profile-popup-window *:hover  {
  background-color: var(--hover-color);
}

.profile-popup-window div{
  padding: 14px;
}

.sidebar-user {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third-color);
  font-size: var(--medium-font);
  cursor: pointer;
  border-radius: 30px;
  background-color: #45342644;
  padding: 10px 20px;
  border: 1px solid transparent; 
}

.sidebar-user:hover {
  background-color: rgb(83, 76, 76); 
  color: white; 
  border: 1px solid white; 
}

.sidebar-profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 16px;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
  
}

@keyframes slide-up {
  0% {
    transform: translatey(100%);
  }
  100% {
    transform: translateX(0);
  }
  
}

@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}



