.right-sidebar {
  display: flex;
  row-gap: 24px;
  width: 240px;
  height: calc(100vh - 58px);
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border-left: solid 1px var(--tiny-border-color);
  padding: 10px 0;
  overflow-y: auto; 
  overflow-x: hidden; 
  z-index: 5;
  position: fixed;
  right: 0;
}

.right-sidebar::-webkit-scrollbar {
  width: 8px;
}

.right-sidebar::-webkit-scrollbar-thumb {
  background: var(--tiny-border-color);
  border-radius: 4px;
}

.right-sidebar::-webkit-scrollbar-thumb:hover {
  background: darken(var(--tiny-border-color), 20%);
}

.right-sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.right-sidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--tiny-border-color) transparent;
}


/* =============== body scrollbar =================== */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--tiny-border-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: darken(var(--tiny-border-color), 20%);
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--tiny-border-color) transparent;
}
/*============== will update later ================*/


.trendbar, .friends-bar {
  display: grid;
  row-gap: 12px;
}

.trendbar-header, .friends-bar-header {
  color: var(--third-color);
  font-size: var(--biggest-font);
}

.trendbar-components, .friends-bar-components {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.trendbar-component {
  color: var(--third-color);
  font-size: var(--medium-font);
  cursor: pointer;
  border-radius: 30px;
  background-color: #45342644;
  padding: 10px 40px 10px 20px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 4px;
}

.trendbar-component > span {
  opacity: .7;
  font-size: var(--smaller-font);
}

.friends-bar-component {
  width: 200px;
  padding: 6px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--third-color);
  font-size: var(--medium-font);
  transition: .2s;
  cursor: pointer;
}

.friends-bar-component:hover {
  background-color: var(--hover-color);
}